@model MyContacts.Models.UserVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">MyContacts 1.0v</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                <p class="text-center small">Enter your username & password to login</p>
                            </div>

                            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "formID", @class = "row g-3 needs-validation" }))
                            {
                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">User Name</label>
                                    <div class="input-group has-validation">
                                        @Html.TextBoxFor(x => x.UserName, new { id = "yourUsername", @class = "form-control" })
                                        <div class="invalid-feedback">Please enter your User Name.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input id="btnlogin" class="btn btn-primary w-100" type="submit" value="Enter">
                                </div>
                            }

                        </div>
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>
<script>
    $(document).ready(function () {

        $("#btnlogin").click(function () {
            $.ajax({
                type: 'post',
                data: $('#formID').serialize(),
                url: '/Login/Index',
                beforeSend: function () {
                    if (!$('#formID').valid()) {
                        alert('COMPLETE ALL FIELDS');
                        return false;
                    }
                    //Incluir loading
                    return true;
                },
                success: function (response) {
                    if (response.passed == true) {
                        window.location.href = response.url;
                    } else {
                        alert(response.ex);
                    }
                }
            });
        });
    });
</script>
